body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    background-image: radial-gradient(
        rgba(0, 150, 0, 0.75), black 120%
    );
    height: 100vh;
    color: white;
    font: 1.3rem Inconsolata, monospace;
    text-shadow: 0 0 5px #C8C8C8;
}

::selection {
    background: #0080FF;
    text-shadow: none;
}

pre {
    margin: 0;
}

.container {
    width: 300px;
    height: 350px;
    /* justify-content: center; */
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.display{
    flex: 5;
    font-size: 40px;
    text-align: right;
    letter-spacing: 0.5rem;
}

.sign{
    flex: 1;
    font-size: 40px;
    text-align: right;
    letter-spacing: 0.3rem;
}

.row{
    flex: 1;
    display: flex;
    gap: 8px;
}

button {
    flex: 1;
    /* border: 10px; */
    border-radius: 24px;
    font: 1.3rem Inconsolata, monospace;
    font-size: 25px;
    text-shadow: 0 0 5px #C8C8C8;
}

.number {
    background-color: white;
    background-image: radial-gradient(
        rgba(178, 255, 169, 0.75), black 120%
    );
    color: white;
}

.operator {
    background-color: black;
    background-image: radial-gradient(
        rgba(137, 2, 62, 0.75), black 120%
    );
    color: white;
}

.decimal, .clear, .toggle-sign, .percent {
    background-color: black;
    background-image: radial-gradient(
        rgba(63, 42, 43, 1), black 120%
    );
    color: white;
}

.decimal, .equals {
    flex: .5 1 0;
}

.equals {
    background-color: black;
    background-image: radial-gradient(
        rgba(255, 74, 28, 1), black 120%
    );
    color: white;
}